@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-xs-12">
        <div class="trains">
            <h1 class="trains-title">ThoughtWorks Trains</h1>
            <h2 class="trains-subtitle">Data</h2>
            <div class="trains-form-group form-group">
                <label for="route-data">Route Data (e.g. AB5, BC4, CD8, DC8, DE6, AD5, CE2, EB3, AE7)</label>
                <input type="text" class="trains-form-control form-control" id="route-data" value="AB5, BC4, CD8, DC8, DE6, AD5, CE2, EB3, AE7">                               
            </div>
            <hr />
            <h2 class="trains-subtitle">Queries</h2>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#get-route-distance_tab" aria-controls="get-route-distance" role="tab" data-toggle="tab">Get Route Distance</a></li>
                <li role="presentation"><a href="#get-shortest-distance-between-towns-by-id_tab" aria-controls="get-shortest-distance-between-towns-by-id" role="tab" data-toggle="tab">Shortest Distance Between Towns</a></li>
                <li role="presentation"><a href="#get-number-of-routes-between-towns-by-stop_tab" aria-controls="get-number-of-routes-between-towns-by-stop" role="tab" data-toggle="tab">Routes By Stop</a></li>
                <li role="presentation"><a href="#get-number-0f-routes-between-towns-by-distance_tab" aria-controls="get-number-0f-routes-between-towns-by-distance" role="tab" data-toggle="tab">Routes By Distance</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="trains-tab-pane tab-pane active" id="get-route-distance_tab">
                    <partial name="/Pages/Forms/_GetRouteDistanceForm.cshtml" />
                </div>
                <div role="tabpanel" class="trains-tab-pane tab-pane" id="get-shortest-distance-between-towns-by-id_tab">
                    <partial name="/Pages/Forms/_ShortestDistanceBetweenTownsForm.cshtml" />
                </div>
                <div role="tabpanel" class="trains-tab-pane tab-pane" id="get-number-of-routes-between-towns-by-stop_tab">
                    <partial name="/Pages/Forms/_RoutesByStopForm.cshtml" />
                </div>
                <div role="tabpanel" class="trains-tab-pane tab-pane" id="get-number-0f-routes-between-towns-by-distance_tab">
                    <partial name="/Pages/Forms/_RoutesByDistanceForm.cshtml" />
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>

