<form class="trains-form" id="get-route-distance_form">
    <div class="trains-form-group form-group">
        <label for="get-route-distance_route">Route</label>
        <input type="text" class="trains-form-control form-control" id="get-route-distance_route" placeholder="Route (e.g. A-B-C)">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="trains-response get-route-distance_response"></div>