<form class="trains-form" id="get-number-0f-routes-between-towns-by-stop_form">
    <div class="trains-form-group form-group">
        <label for="get-number-0f-routes-between-towns-by-stop_start-town">Start Town</label>
        <input type="text" class="trains-form-control form-control" id="get-number-0f-routes-between-towns-by-stop_start-town" placeholder="Start Town">

        <label for="get-number-0f-routes-between-towns-by-stop_destination-town">Destination Town</label>
        <input type="text" class="trains-form-control form-control" id="get-number-0f-routes-between-towns-by-stop_destination-town" placeholder="Destination Town">

        <label for="get-number-0f-routes-between-towns-by-stop_distance">Stops</label>
        <input type="number" class="trains-form-control form-control" id="get-number-0f-routes-between-towns-by-stop_stop-count" placeholder="# of Stops">

        <label for="get-number-0f-routes-between-towns-by-stop_limit-type">Limit Type</label>
        <select class="trains-form-control form-control" id="get-number-0f-routes-between-towns-by-stop_limit-type">
            <option value="0">Max or Equal</option>
            <option value="1">Exact</option>
            <option value="2">Less Then</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="trains-response get-number-0f-routes-between-towns-by-stop_response"></div>