<form class="trains-form" id="get-shortest-distance-between-towns-by-id_form">
    <div class="trains-form-group form-group">
        <label for="get-shortest-distance-between-towns-by-id_start-town">Start Town</label>
        <input type="text" class="trains-form-control form-control" id="get-shortest-distance-between-towns-by-id_start-town" placeholder="Start Town">

        <label for="get-shortest-distance-between-towns-by-id_destination-town">Destination Town</label>
        <input type="text" class="trains-form-control form-control" id="get-shortest-distance-between-towns-by-id_destination-town" placeholder="Destination Town">               
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="trains-response get-shortest-distance-between-towns-by-id_response"></div>