.trains {
    padding: 50px;
    margin: auto;
    font-size: 14px;

    &-title {
        margin-bottom: 50px;
    }

    &-subtitle {
        margin-bottom: 30px;
    }

    &-form {
        margin-bottom: 30px;

        &-group {
            margin-bottom: 20px;
        }

        &-control {
            margin-bottom: 10px;
        }
    }

    &-tab-pane {
        padding-top: 40px;
    }

    &-response {
        font-weight: bold;
    }
}

.error {
    color: red;
}
